aws_region   = "us-east-2"
project_name = "secure-ai-platform"
environment  = "dev"

vpc_cidr = "10.0.0.0/16"

log_retention_days = 30

# Replace with the ECR image URI for your environment.
container_image = "AWS_ACCOUNT_ID.dkr.ecr.us-east-2.amazonaws.com/secure-ai-platform-dev-api:latest"

public_subnet_cidrs = [
  "10.0.1.0/24",
  "10.0.2.0/24"
]

availability_zones = [
  "us-east-2a",
  "us-east-2b"
]
